<div id="wrapper1">
	<section id="promotext" class="container">
			<header class="title">
				<h2>Change Password</h2>
				<span class="byline"></span>
			</header>
	</section>
	<div id="editprofilecontainer" class="container clearfix">

	<%= form_tag(updatepassword_path) do %>
		<% if flash[:alert] %>
			<div id="flash">
				<span id="alert"><%= flash[:alert] %></span>
			</div>
		<% end %>
		<% if flash[:notice] %>
			<div id="flash">
				<span id="notice"><%= flash[:notice] %></span>
			</div>
		<% end %>

		<% if @user && @user.errors.any? %>
			<div id="errors">
				<% for message in @user.errors.full_messages %>
					<%= message %> <br>
				<% end %>
			</div>
		<% end %>

		<%= label_tag("Old Password") %>
		<%= password_field_tag("password", nil, :class => "text", :placeholder => "Old password") %>
		<%= label_tag("New Password") %>
		<%= password_field_tag("new_password", nil, :class => "text", :placeholder => "Your new password") %>
		<%= label_tag("New Password Confirmation") %>
		<%= password_field_tag("new_password_confirmation", nil, :class => "text", :placeholder => "Your new password again") %>
		<%= submit_tag("Change Password",:class => "submitbutton") %>
	<% end %>


	</div>
</div>
