= render "common/header", :active => 'account'

%section.wrapper.body-wrapper
    %section.container.body-container.clearfix#account

        = render 'users/parts/account_errors'

        = render "users/parts/account_sidebar"

        %section.account-content
            = form_tag(updatepassword_url, class: 'account-form change-password') do
                %section.form-row
                    %section.full-column
                        %label Current Password
                        = text_field_tag("password", nil, :class => "text", :placeholder => 'Your current password')
                %section.form-row
                    %section.full-column
                        %label New Password
                        = text_field_tag("new_password", nil, :class => "text", :placeholder => 'Your new password')
                %section.form-row
                    %section.full-column
                        %label New Password Confirmation
                        = text_field_tag("new_password_confirmation", nil, :class => "text", :placeholder => 'Your new password again')
                %button{type: 'submit', class: 'savebutton'} Change Password

= render "common/footer"
