%footer.footer
  %section.container.footercontainer.clearfix
    %section.footerelement
      %h3 About
      %a{:href => "#{howitworks_url}"} How it works
      %a{:href => "#{testimonials_url}"} Testimonials      
    %section.footerelement
      %h3 Get Started
      %a{:href => "#{new_login_url}"} Login
      %a{:href => "#{new_signup_url}"} Sign Up
      
    %section.footerlogobox
      %div.footerlogo
        %img{:src => asset_url('newlogo.png')}
    %section.footerelement
      %h3 Social
      %a{:href => "https://www.facebook.com/Rechargery"} Facebook
      %a{:href => "https://twitter.com/rechargery"} Twitter
      %a{:href => "#{testimonials_url}"} Testimonials      
      
    %section.footerelement
      %h3 Legal
      %a{:href => "#{docs_tos_url}"} Terms of Service
      %a{:href => "#{docs_privacy_url}"} Privacy Policy
      