<!DOCTYPE html>
<html>
<head>
  <title>Rechargery - Shop Online, Get Free Recharges</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="MANZI-Verify-SITE"
content="11403-51d84943-7d27-4f8f-fb1b-65b887a8a9d3" />
  <meta name="google-site-verification" content="7JnDyG5kRjrFqt3y7DoAWToWnt9qRo51wQwtMJugPsE" />
  <meta name="keywords" content="Rechargery Recharges Free Recharges india online recharges">

<meta name="description" content="Shop Online, get Free Recharges. Visit to know more.">
  <meta property="og:title" content="Rechargery - Shop Online, get Free Recharges"/>
	<meta property="og:image" content="http://rechargery.com/rechargery.png"/>
	<meta property="og:site_name" content="Rechargery"/>
	<meta property="og:description" content="Whenever you want to order something from FlipKart.com, do it through Rechargery and you get free recharges.">
	<meta name="OMG-Verify-V1" content="556244-188b31dd-00c1-416c-a857-c3181134d06c" />


 	<script>

	$(document).on('page:change', function() {
	  if (window._gaq != null) {
	    return _gaq.push(['_trackPageview']);
	  } else if (window.pageTracker != null) {
	    return pageTracker._trackPageview();
	  }
	});

 	</script>


</head>
<body>


	<div id="home-header-wrapper">
		<section id="homeheader" class="container">
			<nav>
				<%= render partial: "pages/homepagemenu" %>
			</nav>
			<header>
				<h1><%= link_to("RECHARGERY",root_url) %></h1>
				<span>Shop online. Get <%= link_to("Free Recharges",root_url) %></span>
			</header>

			<article>

			<div class="container clearfix" id="howitworks">
				<div class="promoimgbox">
					<a href="<% if current_user %><%= url_for({:controller => "users",:action => "dashboard"}) %><% else %><%= url_for({:controller => "users",:action => "login"}) %><% end %>">
						<div class="promoimg" id="promoimg1">
						
						</div>
					</a>
					<h3>Place your shopping <br>order through us</h3>
				</div>
				<div class="promoimgbox">
					<a href="<% if current_user %><%= url_for({:controller => "users",:action => "dashboard"}) %><% else %><%= url_for({:controller => "users",:action => "login"}) %><% end %>">
						<div class="promoimg" id="promoimg1">
						
						</div>
					</a>
					<h3>Provide us your <br>phone details</h3>
				</div>
				<div class="promoimgbox">
					<a href="<% if current_user %><%= url_for({:controller => "users",:action => "dashboard"}) %><% else %><%= url_for({:controller => "users",:action => "login"}) %><% end %>">

						<div class="promoimg" id="promoimg1">
							
						</div>
					</a>
					<h3>Get your <br>free recharge!</h3>
				</div>
				<div class="title">
			<!--<h2>How it Works</h2>-->
					<br><br>
					<span class="byline">No catches. No hassles. No bakwaas.</span>
				</div>
			</div>

				<% if current_user %>
					<%= link_to("Get my free recharge now",url_for({:controller => "users",:action => "dashboard"}),:class => "button") %>
				<% else %>
					<%= link_to("Get my free recharge now",url_for({:controller => "stores",:action => "index"}),:class => "button") %>
				<% end %>
				<h4>*Currently only available for Flipkart, Amazon.in and Myntra.com orders.</h4>


			</article>
		</section>
	</div>


	<%= yield %>

	<%= render partial: "pages/footer" %>
<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43043306-3', 'rechargery.com');
  ga('send', 'pageview');


</script>
	<script type="text/javascript">
adroll_adv_id = "5QAEE766WNBFNIT4VLQEWA";
adroll_pix_id = "S6OA3H46TRBM3BRVUEH2FW";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/5352c1cf26ceee023f000057.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>



</body>
</html>
